*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.btn{
   
    padding: 20px 40px ;
    border-radius: 50px;
    border: 5px solid;
    color: white;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 2px 22px 38px rgba(0, 0, 0, 0.4);
}